@model Hephaestus.Models.User

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
    </dl>
    <br />
    <div class="container">
        <div class="row bordered">
            @Html.DisplayNameFor(model => Model.Heroes)
        </div>
        @foreach (var item in Model.Heroes)
        {
            <div class="row bordered">
                <div class="col-xs-1 icon bordered"><img src="~/images/helmeticon.png" width="20" height="20" /></div>
                <div class="col-xs-6 bordered">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="col-xs-6 bordered">@Html.ActionLink("Edit", "EditHero", new { id = item.Id })</div>
                <div class="col-xs-1 bordered">@Html.ActionLink("View", "ViewHero", item) </div>
                <div class="col-xs-1 bordered">@Html.ActionLink("Delete", "DeleteHero", item)</div>
            </div>
        }
    </div>
    
    <div class="container">
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Heroes)</th>
            </tr>

            @foreach (var item in Model.Heroes)
                    {
            <tr>
                <td><div><img src="~/images/helmeticon.png" width="20" height="20" /></div></td>
                <td> @Html.DisplayFor(modelItem => item.Name)</td>
            </tr>
                    }

        </table>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
</div>
