@model Hephaestus.Models.User

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <div class="container">
        <div class="row">
            <div class="col-xs-2">@Html.DisplayNameFor(model => model.UserName)</div>
            <div class="col-xs-4 ">@Html.DisplayFor(model => model.UserName)</div>
        </div>
        <div class="row">
            <div class="col-xs-2">@Html.DisplayNameFor(model => model.EmailAddress)</div>
            <div class="col-xs-4 ">@Html.DisplayFor(model => model.EmailAddress)</div>
        </div>
    </div>
    <br />
    <div class="row bordered">
        @Html.DisplayNameFor(model => Model.Heroes)
    </div>
    @foreach (var item in Model.Heroes)
    {
        <div class="row bordered">
            <div class="col-xs-1 icon bordered"><img src="~/images/helmeticon.png" width="20" height="20" /></div>
            <div class="col-xs-3 bordered">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="col-xs-1 bordered"><a asp-action="EditHero" asp-route-id="@item.Id">Edit</a></div>
            <div class="col-xs-1 bordered"><a asp-action="ViewHero" asp-route-id="@item.Id">View</a></div>
            <div class="col-xs-1 bordered"><a asp-action="DeleteHero" asp-route-id="@item.Id">Delete</a></div>
        </div>
    }

</div>
